app = 'meeedl-eng'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

[env]
  API_HOST = '0.0.0.0'
  API_PORT = '8080'
  LOG_LEVEL = 'info'
  FRONTEND_DIST_DIR = 'frontend/dist'
  WEBAPP_PATH = '/app'
